name: Build Oxware

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-2022

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive

    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v1.1

    - name: Build
      run: msbuild oxware.sln /p:Configuration=Release /p:Platform=x86

    - name: Upload Artifacts
      uses: actions/upload-artifact@v3
      with:
        name: oxware-build
        path: |
          bin/Release/cheater.dll
          bin/Release/oxware.exe
          bin/Release/oxui.dll
          bin/Release/util.dll
          bin/Release/msvcp140.dll
          bin/Release/vcruntime140.dll
